body {
    font-family: "Almarai", sans-serif;
    font-style: normal;
}

* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

@page {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 0px;
    padding: 0;
}

*::-webkit-scrollbar-track {
    width: 0px;
    padding: 0;
}

*::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    width: 0px;
    padding: 0;
}