ul {
    padding: 20px 0;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;
    width: 100%;
    padding-bottom: 100px;
  }
  
  ul li {
    min-height: 50px;
    width: 100%;
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: flex-start;
    transition: .3s;
    border-radius: 6px;
    padding: 4px 0;
    position: relative;
    overflow: hidden;
  }
  
  ul li [clipped=true] {
    background-color: #323333;
  }
  
  ul li button {
    height: 50px;
    min-width: 50px;
  }
  
  ul li button.remover {
    background-color: transparent;
    color: rgba(255, 0, 0, .7);
    padding: 3px 1px;
    height: auto;
  
  }
  
  ul li span.item {
    font-size: 15px;
    flex-basis: 100%;
    line-height: 1.3;
  }
  
  ul li span.counter,
  ul li input.plau-or-minus {
    font-size: 15px;
    border-radius: 3px;
    text-align: center;
    transition: .3s;
    height: 50px;
    min-width: 40px;
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
  }
  
  ul li input.plau-or-minus {
    border: 0;
    border-bottom: 3px solid transparent;
    background-color: rgba(51, 51, 51, 0.05);
    color: #223254;
  }
  
  ul li input.plau-or-minus:focus {
    outline: none;
    border-bottom-color: #0077FF;
  
  }
  
  ul li div.box-plau-or-minus {
    display: flex;
    align-items: center;
    column-gap: 5px;
    transition: .3s;
    overflow: hidden;
    min-width: 0px;
    max-width: 0px;
  }
  
  ul li div.box-plau-or-minus[data-show="true"] {
    min-width: 57px;
    max-width: 57px;
  }
  
  ul li span.plau-or-minus,
  ul li span.plau-or-minus::before {
    display: block;
    border-radius: 1px;
    background-color: #223254;
  }
  
  ul li span.plau-or-minus {
    min-width: 12px;
    height: 3px;
    position: relative;
  }
  
  ul li span.plau-or-minus::before {
    content: "";
    width: 3px;
    position: absolute;
    height: 12px;
    bottom: -4.5px;
    left: 4.5px;
    transition: .3s;
    opacity: 0;
  }
  
  ul li span.plau-or-minus[plus="true"]::before {
    opacity: 1
  }
  
  ul li span.counter {
    color: #ffffff;
    background: #0077FF;
  }