@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Almarai", sans-serif;
    font-style: normal;
}

* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

@media print {
    @page {
        margin: 30px 40px;
    }
}

#pages-name-box::-webkit-scrollbar, #pages-temp-box::-webkit-scrollbar {
    display: none;

}

/* #pages-name-box::-webkit-scrollbar-track {
}

#pages-name-box::-webkit-scrollbar-thumb {
} */